:root {
  --main-color: #212121;
  --sec-color: #757575;
  --active-color: #2196f3;
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #212121;
}
.section {
  padding: 94px 0;
}
.container {
  padding: 0 15px;
  width: 1200px;
  border: 1px solid red;
  margin: 0 auto;
}
.hidden {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.7;
  overflow: hidden;
  opacity: 0;
}

nav,
.main-links,
.main-contacts,
header .container {
  display: flex;
  justify-content: space-between;
}
header .logo {
  display: flex;
  margin-right: 93px;
  align-items: center;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--active-color);
  letter-spacing: 0.03em;
}
.logo-color {
  color: var(--main-color);
  display: inline-block;
}
.links {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  display: inline-block;
  margin-right: 50px;
  padding: 32px 0;
}
.main-links li:last-child {
  margin: 0;
}
.contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
  padding: 32px 0;
  margin-left: 50px;
  display: inline-block;
}

.main-contacts li:first-child {
  margin: 0;
}
header {
  border-bottom: 1px solid #ececec;
}
.links:hover {
  color: var(--active-color);
}
.contacts:hover {
  color: var(--active-color);
}

.hero {
  max-width: 1600px;
  display: inline-block;
  text-align: center;
}
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: #ffffff;
  background-color: #2f303a;
  letter-spacing: 0.06em;
  display: inline-block;
  width: 696px;
}
.title-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  color: #fff;
  background-color: #188ce8;
  display: inline-block;
  padding: 10px 32px;
}
.benefits-section {
  display: flex;
}

.benefits-section li:last-child {
  margin-right: 0;
}
.benefits {
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.2;
}
.our-mission {
  display: flex;
  flex-wrap: wrap;
}
.second-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}
.team-members {
  display: flex;
}
.team-members li {
  margin-top: 25px;
  padding-right: 30px;
}
.sub-title {
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.4;
  color: #757575;
}

.sub-benefits {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}
.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  padding-top: 30px;
}
.team-jobs {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}

.address,
.communication {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
  background-color: #2f303a;
  display: flex;
  justify-content: space-between;
}
.address {
  padding-top: 30px;
}
.communication {
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
}

button:hover {
  color: #fff;
  background-color: #2196f3;
}
button:focus {
  color: #212121;
  background-color: #f5f4fa;
}
.sub-title-buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  display: flex;
}
.button-style {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.image-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}
.image-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}
.portfolio-header {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.7;
  overflow: hidden;
  opacity: 0;
}
.clients {
  display: flex;
  flex-wrap: wrap;
}
.clients li {
  margin: 30px 30px 30px 0;
}
